#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

.users {
  border: none;
  background-color: white;
  margin: 5% 0;
  font-size: 1.4rem;
}